.card {
    width: 20rem;
    height: 100%;
    color: rgba(250, 250, 250, 0.8);
    box-shadow: 25px 25px 25px 12px rgba(0, 0, 0, 0.11);
    margin-bottom: 2rem;
    color: black;
    border:none;
  }
  .card-title {
    color: #273751;
    font-weight: bold;
  }
  .card-body {
    font-size: 14px;
    font-weight: 600;
    color: #777;
  }
  
  .card img:hover {
    transition: all 0.25s ease-in-out;
    transform: scale(1.022);
    filter: brightness(110%);
}