.catering-heading {
    color:#F7A0BD;
    text-align: center;
    margin-top: 45px;
}
.catering {
    background-color: #FBFBFB;
    width: 550px;  
}
.catering-para {
    color:#272323d5;
    margin-top: 25px;
}